@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Custom Server Side Pagination In ASP.NET MVC</h1>
    <p class="lead">Pagination is a very very important and oblagatory feature to handling the mammoth database in any platform.For them, those who are very new to
        Asp.net mvc developement, Handling pagination effectively and efficiently is a somewhat complicated suject. Here I have shown how to handle pagination effectively and efficiently
    incase of a very very large database.</p>
    <p><a href="@Url.Action("Index","Employee")" class="btn btn-primary btn-lg">Go to here &raquo;</a></p>
</div>